extends layout

block content

  article
    h1 Casio
      span  Letterpress

    section.screen
      p
      .light.correct
      .light.wrong
    section.buttons.commands.cf
      div.button.clear(data-action="clear") Clear
      div.button.delete(data-action="delete") Del
      div.button.send(data-action="send") Send


    section.buttons.letters
