doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
    script(src='/socket.io/socket.io.js')
    script(src='jquery.min.js')
    script(src='underscore.min.js')
    script(src='keymaster.min.js')
    script(src='main.js')
  body
    block content
